@mq_xxl: 80em; /* 1280px */
@mq_xl: 73em; /* 1168px */
@mq_l: 50em; /* 800px */
@mq_m: 46.8em; /* 748px */
@mq_s: 30em; /* 480px */
@mq_xs: 22em;
@mq_xxs: 20em;


.ui-sticky-header .fixed {
	position: fixed;
	top: 50px;
	width: 100%;
	z-index: 0;
}
.ui-sticky-header .fixed.absolute {
	position: absolute;
}

@media screen and (min-width: @mq_xxl) {

}

@media screen and (max-width: @mq_xl) {

}

@media screen and (max-width: @mq_l) {

}

@media screen and (max-width: @mq_m) {

}

@media screen and (max-width: @mq_s) {

}

@media screen and (max-width: @mq_xs) {

}

@media screen and (max-width: @mq_xxs) {

}

